.App {
  text-align: center;
  margin: 20px;
}

h1 {
  background-color: var(--bs-danger);
  color: var(--bs-light);
  padding: .5rem;
  margin: .5rem;
  border: 5px solid var(--bs-warning);
  border-radius: 20px;
}

.box {
  border: 5px solid var(--bs-dark);
  border-radius: 10px;
  padding: 10px;
  gap: .5rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-self: stretch;
  margin: auto;
}

.box1 {
  border: 5px solid var(--bs-dark);
  border-radius: 10px;
  padding: 10px;
  align-self: stretch;
  margin: auto;
}

